<ion-header class="ion-no-border">
    <ion-toolbar id="navbar">

        <h2 class="navbar-text" id='name-site' routerLink="/home">iNoVo</h2>


        <div id='bar'>
            <div class='section' routerLink="/mobiles">
                <ion-icon class="navbar-icon" src="assets/nabvar-icons/mobile.svg ">
                </ion-icon>
                <h2 class="navbar-text">Moviles</h2>
            </div>

            <div class='section' routerLink="/tablets">
                <ion-icon class="navbar-icon" src="assets/nabvar-icons/tablet.svg "></ion-icon>
                <h2 class="navbar-text">Tablets</h2>
            </div>
            <div class='section' routerLink="/devices">
                <ion-icon class="navbar-icon" id='device-icon' src="assets/nabvar-icons/devices.svg "></ion-icon>
                <h2 class="navbar-text">Accesorios</h2>
            </div>
            <div class='section' routerLink="/others">
                <ion-icon class="navbar-icon" src="assets/nabvar-icons/others.svg "></ion-icon>
                <h2 class="navbar-text">Otros</h2>

            </div>
            <!-- <ion-searchbar class='search-products' placeholder='Busqueda' [(ngModel)]='searchTerm'
                showCancelButton='focus' animated></ion-searchbar> -->
            <app-search-for-product></app-search-for-product>
        </div>


        <ion-icon class="navbar-icon-outside" src="assets/nabvar-icons/contact.svg " routerLink="/contact">
        </ion-icon>
        <ion-icon class="navbar-icon-outside" src="assets/nabvar-icons/login.svg " routerLink="/login"></ion-icon>
        <ion-icon class="navbar-icon-outside" id='purchase-icon' src="assets/nabvar-icons/purchase.svg"
            routerLink="/purchase"></ion-icon>


    </ion-toolbar>
</ion-header>

<ion-content>
    <div id='content-without-margins'>

        <div id='content'>
          
                <!-- <ng-container *ngFor="let product of productArray| filter: searchForProduct.searchByName">
                    <ion-card id='offers-and-news'>
                        <ion-card-header>
                            <img src="assets/products/mobiles/iphone13.svg" alt="product" class="products">
                            <h4> {{product.brand}} {{product.model}} de {{product.storage}}</h4>
                            <hr id='separator'>
                            <h4>{{product.price}}</h4>


                        </ion-card-header>


                    </ion-card>
                </ng-container> -->
    

            <ion-row>
                <ng-container *ngFor="let product of productArrayMobileFeaturedAndOffers ">

                    <ion-card id='featured' *ngIf="product.featured ">

                        <ion-card-header>


                            <h1 id='ion-card-title'>¡Oferta!</h1>

                            <img id='product-image' src="assets/products/mobiles/iphone13.svg" alt="product">

                            <h4 id='featured-description'> {{product.brand}} {{product.model}} de {{product.storage}}
                            </h4>
                            <h3 id='featured-price'>{{product.price}}</h3>


                        </ion-card-header>






                    </ion-card>


                </ng-container>

                <ion-slides id='big-slider' [options]="sliderOpts" #slider>
                    <ion-slide>
                        <h1 id="slider-title">¡Moviles de segunda mano <br> <u>como nuevos!</u></h1>
                        <br>
                        <ion-button>Click aquí</ion-button>
                        <br>
                        <h6>*Certificados y con dos años de garantía</h6>

                        <ion-img src="assets/home/mobiles.png"></ion-img>
                    </ion-slide>

                    <ion-slide>
                        <ion-img src="assets/home/shop.jpg"></ion-img>
                    </ion-slide>

                    <ion-slide>
                        <ion-img src="assets/home/mobiles3.png"></ion-img>
                    </ion-slide>
                </ion-slides>

                <div class='little-sliders'>
                    <ion-slides id='one-little-slider' [options]="sliderOpts" #slider>
                        <ion-slide>
                            <ion-img src="assets/home/shop.jpg"></ion-img>
                        </ion-slide>

                        <ion-slide>
                            <ion-img src="assets/home/mobiles3.png"></ion-img>
                        </ion-slide>

                        <ion-slide>
                            <ion-img src="assets/home/mobiles.png"></ion-img>
                        </ion-slide>
                    </ion-slides>

                    <ion-slides id='other-little-slider' [options]="sliderOpts" #slider>
                        <ion-slide>
                            <ion-img src="assets/home/mobiles3.png"></ion-img>
                        </ion-slide>

                        <ion-slide>
                            <ion-img src="assets/home/mobiles.png"></ion-img>
                        </ion-slide>

                        <ion-slide>
                            <ion-img src="assets/home/shop.jpg"></ion-img>
                        </ion-slide>
                    </ion-slides>
                </div>


            </ion-row>

            <div class='ion-text-center'>
                <h1 id='offers-and-news-text'>NOVEDADES Y OFERTAS</h1>
                <h1 class='ion-text-center'>Novedades: moviles</h1>

                <ng-container *ngFor="let product of productArrayMobileFeaturedAndOffers">
                    <ion-card id='offers-and-news'>
                        <ion-card-header>
                            <img src="assets/products/mobiles/iphone13.svg" alt="product" class="products">
                            <h4> {{product.brand}} {{product.model}} de {{product.storage}}</h4>
                            <hr id='separator'>
                            <h4>{{product.price}}</h4>


                        </ion-card-header>


                    </ion-card>

                </ng-container>
            </div>

    
        </div>
    </div>
</ion-content>