
#ion-card-title {
    float: left;
    color: black;
}

#product-image {
    width: 60%;
    height: auto;
}

.products {
    width: 65%;
    height: auto;
}

#products {
   
    max-width: 15%;
    background-color: #bfb1b157;
    text-align: center;
  
}

ng-container{
    float: left;
}

