@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');
#contact {
    text-align: center;
    font-family: 'Spline Sans', sans-serif;
    color: #3B3939
}

#separator {
    background-color: rgba(97, 96, 96, 0.781);
    width: 50%;
    height: 2px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#information {
    margin-left: 6%;
}

#separator-littler {
    background-color: rgba(128, 128, 128, 0.822);
    width: 20%;
    height: 2px;
    margin-top: 2%;
    margin-bottom: 2%;
}