@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');
ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-color: rgb(110,
    102,
    102);
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(219, 243, 252, 1) 100%);
}

ion-header {
    text-align: center;
}

ion-toolbar {
    margin-top: 1.5%;
    vertical-align: middle;
}

.navbar-icon {
    font-size: 1.1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    margin-top: 5px;
}

.navbar-icon-outside {
    font-size: 1.7em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


#purchase-icon {
    font-size: 1.8em;
}

#device-icon {
    margin-right: 0px;
    font-size: 2em;
}

.navbar-text {
    font-size: 1.6em;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Spline Sans', sans-serif;
}

.navbar-categories {
    border-right: 1px solid black;
    display: inline-block;
}

#bar {
    display: inline-block;
    vertical-align: middle;
    border-radius: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #F5F5F5;
    padding-top: 0;
    padding-bottom: 0;
}

.section {
    border-right: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
}

ion-searchbar {
    padding-left: 15px;
    padding-right: 15px;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

#separator {
    background-color: rgba(128, 128, 128, 0.39);
    width: 70%;
    height: 2px;
}

h1,
h2 {
    font-family: 'Spline Sans', sans-serif;
    color: #676161;
}

#company-text {
    text-align: center;
    color: black;
    margin-top: 7%;
    line-height: 5px;
}

#login-text {
    padding-top: 0;
    text-align: center;
    font-size: 2.2em;
}

.email-password-text {
    font-size: 1.6em;
    margin-left: 10px;
    margin-top: 8%;
   
    margin-left: 15%;
    margin-bottom: 7%;
}

// input {
//     border-right: none !important;
//     border-left: none !important;
//     border-top: none !important;
//     margin-left: 15%;
//     margin-top: 2%;
//     height: 1em;
//     width: 70%;
//     color: grey;
//     text-align: center;
// }

#login-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 70%;
    height: 80px;
    font-size: 1.7em;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: 8%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: rgb(255, 255, 255);
  
}


#are-you-not-registered-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  bottom: 3%;
  position: absolute;
}

#register-text {
    text-align: center;
    color: #0099FF;
}

#register-text:hover {
    font-weight: bold;
    text-decoration: underline;
}

#login-data {
    border-width: 1px;
    border-color: black;
    border-style: solid;
 

}

#col-login-image {
    border-width: 1px;
    border-color: black;
    border-style: solid;

    padding: 0 !important;
}

#login-image{
    width: 100%;
}

#login {
    margin-top: 2%;


}